ul.pagination {
    margin: 0;
    padding-bottom: 15px;
}

#searchForm .form-control {
    width: 300px;
}

#searchForm .date {
    width: 180px;
    margin-left: 15px;
}

#searchForm .date .form-control {
    width: 100%;
}

#searchForm #clearButton {
    width: 180px;
    margin-bottom: 15px;
}

#searchForm #searchButton {
    width: 180px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.glyphicon-remove {
    color: grey;
}