ul.pagination {
    margin: 0;
    padding-bottom: 15px;
}

#searchForm .form-control {
    width: 300px;
}

#searchForm #clearButton {
    width: 180px;
    margin-bottom: 15px;
}

#searchForm #searchButton {
    width: 180px;
    margin-left: 30px;
    margin-bottom: 15px;
}