<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" />
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div th:with="path=${#httpServletRequest.servletPath + #httpServletRequest.getAttribute('javax.servlet.error.request_uri')}"
         th:remove="tag">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}" href="#">XMPP Light</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:class="${#strings.containsIgnoreCase(path,'user')} ? active : ''">
                        <a href="users" th:href="@{/users}">Users</a>
                    </li>
                    <li th:class="${#strings.containsIgnoreCase(path,'message')} ? active : ''">
                        <a href="messages" th:href="@{/messages}">Messages</a>
                    </li>
                </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="logout" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    </div>
</nav>

<div class="container">
    <div class="navbar"></div>
    <div class="page-header">
        <h2 layout:fragment="header">Header</h2>
    </div>
    <div layout:fragment="content">Content</div>
</div>
</body>
</html>