<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorate="~{layout}">
<head>
    <title>XMPP Light : Messages</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}"
          href="../css/bootstrap-datetimepicker.min.css"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"
            src="http://cdn.jsdelivr.net/webjars/org.webjars/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
            src="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/momentjs/min/moment-with-locales.min.js}"
            src="http://cdn.jsdelivr.net/webjars/org.webjars.bower/momentjs/2.15.1/min/moment-with-locales.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"
            src="../js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" th:src="@{/js/search.js}"
            src="../js/search.js"></script>
</head>
<body>
<h2 layout:fragment="header">Messages</h2>
<div layout:fragment="content">

    <form class="form-horizontal" id="searchForm" th:action="@{/messages}" th:object="${searchForm}" method="post">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-2 control-label">Usernames:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{usernames}" class="form-control"
                           placeholder="Comma or space separated usernames"/>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-2 control-label">Keywords:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{keywords}"
                           placeholder="Comma or space separated keywords"/>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="form-group">
                <label class="col-sm-1 control-label" style="white-space: nowrap;">Date Range:</label>
                <div class="col-sm-2">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepickerFrom">
                            <input type="text" class="form-control" th:field="*{fromDate}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepickerTo">
                            <input type="text" class="form-control" th:field="*{toDate}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <a id="clearButton" class="btn btn-default" th:href="@{/messages?clear}">Clear</a>
                    <input type="submit" id="searchButton" class="btn btn-primary" value="Search"/>
                </div>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-sm-6">
            Show <span sd:page-size-selector="javascript"></span> entries
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th><a class="sorted" sd:pagination-sort="fromJID">From</a></th>
            <th><a class="sorted" sd:pagination-sort="toJID">To</a></th>
            <th><a class="sorted" sd:pagination-sort="time">Time</a></th>
            <th><a class="sorted" sd:pagination-sort="body">Body</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${messages.numberOfElements == 0}">
            <td colspan="4" style="text-align: center;">No messages found</td>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.fromJID}">from</td>
            <td th:text="${message.toJID}">to</td>
            <td th:text="${#dates.format(message.time, 'dd MMM yyyy HH:mm:ss XXX')}">time</td>
            <td th:text="${message.body}">body</td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>
</body>
</html>