<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorate="~{layout}">
<head>
    <title>XMPP Light : Messages</title>
</head>
<body>
<h2 layout:fragment="header">Messages</h2>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-6">
            Show <span sd:page-size-selector="javascript"></span> entries
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th><a class="sorted" sd:pagination-sort="fromJID">From</a></th>
            <th><a class="sorted" sd:pagination-sort="toJID">To</a></th>
            <th><a class="sorted" sd:pagination-sort="time">Time</a></th>
            <th><a class="sorted" sd:pagination-sort="body">Body</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${messages.numberOfElements == 0}">
            <td colspan="4" style="text-align: center;">No messages found</td>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.fromJID}">from</td>
            <td th:text="${message.toJID}">to</td>
            <td th:text="${#dates.format(message.time, 'dd MMM yyyy HH:mm:ss XXX')}">time</td>
            <td th:text="${message.body}">body</td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>
</body>
</html>