<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      layout:decorate="~{layout}">
<head>
    <title>XMPP Light : Users</title>
</head>
<body>
<h2 layout:fragment="header">
    Users
    <div class="pull-right">
        <a class="btn btn-primary" href="user.html" th:href="@{/user}">Create user</a>
    </div>
</h2>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-6">
            Show <span sd:page-size-selector="javascript"></span> entries
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th><a class="sorted" sd:pagination-sort="id">ID</a></th>
            <th><a class="sorted" sd:pagination-sort="username">Username</a></th>
            <th><a class="sorted" sd:pagination-sort="admin">Admin</a></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.numberOfElements == 0}">
            <td colspan="4" style="text-align: center;">No users</td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td><a href="user.html" th:href="@{'/user?userId=' + ${user.id}}"
                   th:text="${user.username}">username</a></td>
            <td>
                <div th:with="isAdmin=${user.admin}" th:remove="tag">
                    <span th:if="${isAdmin}">yes</span>
                    <span th:unless="${isAdmin}">no</span>
                </div>
            </td>
            <td>
                <a href="delete" th:href="@{'/deleteUser?userId=' + ${user.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>
</body>
</html>